/* Universal element that applies to all box-sizing, padding and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Specifies the background, text colour, and font family for the whole of the body */
body {
    background-color: #d9dcd6;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Defines the backgournd colour and padding of the header */
.header {
    padding: 20px;
    background-color: #2a607c;
}
/* Defines the placement, font size and font family of "Horiseon" in the header */
.header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}
/* Defines the colour of "seo" in the header */
.header h1 .seo {
    color: #d9dcd6;
}
/* Defines the placement of the link assets within the header, as well as the font size */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;   
}
/* Changes the list assets display from an unordered list to inline in the header and adds a margin between the list items */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Changes the link colour to white and removes the underline of the link */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Defines the font size for all paragraph elements */
p {
    font-size: 16px;
}
/* Adds the hero (oversized banner image at the top of the website) to the backgroud and defines the size and placement of the image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Gives the content a width of 75% and defines the display and margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Defines the box margin, padding, size and colour for the Search Engine Optimization element */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}
/* Defines the font size and placement of the heading for the Search Engine Optimization element */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Defines the maz-height of the image in Search Engine Optimization */
.search-engine-optimization img {
    max-height: 200px;
}
/* Defines the box margin, padding, size and colour for the Online Reputation Management element */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;  
}
/* Defines the font size and placement of the heading for the Online Reputation Management element */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Defines the maz-height of the image in Online Reputation Management */
.online-reputation-management img {
    max-height: 200px;
}
/* Defines the box margin, padding, size and colour for the Social Media Marketing element */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;

    background-color: #0072bb;
}
/* Defines the font size and placement of the heading for the Social Media Marketing element */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Defines the maz-height of the image in Social Media Marketing */
.social-media-marketing img {
    max-height: 200px;
}
/* Defines the placement of the images in the float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Defines the placement of the images in the float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* Defines the size, placement and background colour of the box surrounding the "benefits" elements */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* Adds a margin at the bottom of each paragraph in the "benefits" section */
.benefits p {
    margin-bottom: 32px; 
}

/* Adds a margin to the bottom of each header in the "benefits" section, as well as placing them in the center */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Defines the placement of all of the images in the "benefits" section */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}